// @import 'core/variables';


//-----------------------BODY STYLES------------>
.body{
    background-color: lightseagreen;
    display: flex;
    flex-direction: column;
   
}
.userInput{
    background-color: beige;
    border: none;
    border-radius: 5px;
}
.reset{
    background-color: beige;
    border: none;
    border-radius: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.button{
    background-color: lightcoral;
    border: none;
    border-radius: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

.h1{
    color: beige;
    font-size: 45px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
 
}

.main{
   display: flex;
   flex-direction: row;
   justify-content:space-around;
}

//-----------------------FAV ANIME STYLES------------>

.resultsAnimeFav{
    list-style-type: none;
    
}
.animeFavTitle{
    color:lightcoral;
    background-color: beige;
    padding: 10px;
    border-radius: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif


 }
//-----------------------RESULTS ANIME STYLES------------>

.resultsAnime{
    list-style-type: none;
    color: beige;
  
}

.resultsAnimeTitle{
    color:lightcoral;
    background-color: beige;
    padding: 10px;
    border-radius: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

.titleFavorite{
    background-color: beige;
    color: lightseagreen;
   
}

