// @import 'core/variables';
// @import 'core/reset';
// @import 'components/code';
// @import 'components/links';
// @import 'layout/page';
// @import 'layout/header';
// @import 'layout/footer';
// @import 'pages/index';

//-----------------------BODY STYLES------------>
.body{
    background-color: lightseagreen;
   
}
.userInput{
    background-color: beige;
border: none;
}
.reset{
    background-color: beige;
    border: none;
}
.button{
    background-color: lightcoral;
    border: none;
}
.form{
   
}
.h1{
    color: beige;
    font-size: 50px;
   text-align: center;
}
.main{
   display: flex;
   flex-direction: row;
   justify-content:space-around;
}

//-----------------------FAV ANIME STYLES------------>

.resultsAnimeFav{
    list-style-type: none;
    
}
.animeFavTitle{
    color:lightcoral;
    background-color: beige;
    padding: 10px;
    border-radius: 10px;

 }
//-----------------------RESULTS ANIME STYLES------------>

.resultsAnime{
    list-style-type: none;
    color: beige;
  
}

.resultsAnimeTitle{
    color:lightcoral;
    background-color: beige;
    padding: 10px;
    border-radius: 10px;
}

.titleFavorite{
    background-color: beige;
    color: lightseagreen;
   
}

